@font-face {
    font-family: "ABCDiatype Medium";
    src: url("assets/font/abcdiatype-medium.woff2") format("woff2"),
        url("assets/font/abcdiatype-medium.woff") format("woff");
}

@font-face {
    font-family: "ABCDiatype Bold";
    src: url("assets/font/abcdiatype-bold.woff2") format("woff2"),
        url("assets/font/abcdiatype-bold.woff") format("woff");
}

@font-face {
    font-family: "ABCDiatype Mono";
    src: url("assets/font/abcdiatypemono-medium.woff2") format("woff2"),
        url("assets/font/abcdiatypemono-medium.woff") format("woff");
}

:root {
    --doc-height: 100%;
    --header-title: .8rem;
    --header-height: 5rem;
    --main-height: 65vh;
    --general-margin: 3.5rem;
    --large-margin: 10rem;
    --medium-margin: 4.5rem;
    --small-margin: .8rem;
    --bg-color: #ffffff;
    --txt-color: #181818;
    --green: #c3e1ca;
    --border: solid 1px #181818;
    --large-txt: calc(5vw + 2rem);
    --medium-txt: 2rem;
    /* --title-txt: 2rem; */
    --copy-txt: 1rem;
}

body {
    font-family: "ABCDiatype Medium";
    color: var(--txt-color);
    overflow-x: hidden;
}

p {
    font-size: var(--copy-txt);
}

a {
    position: relative;
    cursor: pointer;
}

a::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--green);
    pointer-events: none;
    z-index: -1;
    opacity: 0;
    transition: opacity .5s ease-out;
}

a:hover::after {
    opacity: 1;
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 var(--general-margin);
    background-color: var(--bg-color);
    z-index: 1;
}

.header::after {
    content: "";
    width: calc(100% - var(--general-margin)*2);
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--txt-color);
}

.site-title {
    font-family: "ABCDiatype Bold";
    font-size: var(--header-title);
    text-transform: uppercase;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: var(--small-margin);
}

.filter-title {
    font-family: "ABCDiatype Bold";
    font-size: var(--header-title);
    text-transform: uppercase;
    white-space: nowrap;
    position: absolute;
    margin-bottom: var(--small-margin);
}

.filter-title:first-of-type {
    left: var(--general-margin);
}

.filter-title:last-of-type {
    right: var(--general-margin);
}

main {
    margin-top: var(--header-height);
}

.main {
    width: 100%;
    height: var(--main-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 var(--general-margin);
}

.main-wrapper {
    width: calc(100vw - var(--general-margin)*2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.main-title {
    font-family: "ABCDiatype Medium";
    font-size: var(--large-txt);
    line-height: 1.1;
}

.main-link {
    font-family: "ABCDiatype Bold";
    font-size: var(--header-title);
    line-height: 1;
}

.info {
    width: 100%;
    position: relative;
    z-index: 2;
}

.info-wrapper {
    height: calc(var(--main-height) + var(--header-height));
    position: sticky;
    top: 0;
    padding: var(--small-margin) var(--general-margin);
    /* margin-bottom: var(--large-margin); */
    background-color: var(--bg-color);
}

.info-wrapper:last-child {
    min-height: var(--doc-height);
    /* margin-bottom: 0; */
}

.info-wrapper::after {
    content: "";
    width: 100%;
    height: 15%;
    position: absolute;
    top: -15%;
    left: 0;
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.5), hsl(0, 0%, 100%));
    pointer-events: none;
}

.info-title,
.audio-title {
    font-family: "ABCDiatype Bold";
    font-size: var(--medium-txt);
    text-align: center;
    padding: var(--small-margin);
}

.info-block {
    display: flex;
    justify-content: space-between;
    border-top: var(--border);
    padding-top: var(--small-margin);
}

.info-column {
    width: 48%;
}

.info-column p:not(:last-child) {
    margin-bottom: calc(var(--small-margin)*2);
}

.info-caption {
    font-family: "ABCDiatype Mono";
    font-size: var(--header-title);
}

.info-image {
    width: 100%;
}

.audio-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    padding: 0 var(--general-margin);
    overflow-x: hidden;
}

.audio-column {
    width: 50%;
    height: calc(100vh - var(--header-height));
    overflow-y: scroll;
    scrollbar-width: none;
}

.audio-column::-webkit-scrollbar {
    display: none;
}

.audio-column:first-of-type {
    border-right: var(--border);
}

.audio-component {
    margin-top: var(--general-margin);
}

.audio-header {
    position: relative;
}

.audio-header::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--txt-color);
}

.audio-ui {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.audio-column:first-of-type .audio-ui {
    left: 0;
}

.audio-column:last-of-type .audio-ui {
    right: 0;
}

.audio-ui svg {
    height: var(--medium-txt);
    cursor: pointer;
}

.audio-tag-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: calc(var(--small-margin)*2);
    row-gap: var(--small-margin);
    margin: var(--small-margin) 0;
}

.audio-column:first-of-type .audio-tag-wrapper {
    justify-content: flex-start;
}

.audio-column:last-of-type .audio-tag-wrapper {
    justify-content: flex-end;
}

.btn-component {
    width: fit-content;
    font-family: "ABCDiatype Mono";
    font-size: var(--copy-txt);
    line-height: 1;
    text-transform: lowercase;
    padding: .25rem 1.5rem .5rem 1.5rem;
    border: var(--border);
    border-radius: 0;
    background-color: var(--bg-color);
    transition: all .5s ease;
}

.--sorted {
    background-color: var(--txt-color);
    color: var(--bg-color);
}

.audio-info {
    margin: calc(var(--small-margin)*2) 0;
}

.audio-column:first-of-type .audio-info {
    text-align: left;
    margin-right: calc(var(--small-margin)*2);
}

.audio-column:last-of-type .audio-info {
    text-align: right;
    margin-left: calc(var(--small-margin)*2);
}

.filters {
    width: 100%;
    height: var(--doc-height);
    position: absolute;
    background-color: hsla(0, 0%, 100%, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding-top: calc(var(--header-height)*2);
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
}

.filters.show {
    opacity: 1;
    pointer-events: all;
}

.filters-wrapper {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--small-margin);
}

.filters-wrapper .btn-component:hover {
    background-color: var(--txt-color);
    color: var(--bg-color);
}

.filters-wrapper .btn-component:last-of-type {
    margin-top: var(--header-height);
}

.btn-component svg {
    stroke: var(--txt-color);
    transition: all .5s ease;
}

.btn-component:hover svg {
    stroke: var(--bg-color);
}



@media screen and (max-width: 850px) {
    .main-wrapper {
        flex-direction: column;
        row-gap: var(--small-margin);
    }

    .info-wrapper {
        height: var(--doc-height);
    }

    .audio-ui {
        position: static;
        text-align: center;
        top: 0;
        transform: none;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --header-height: 3rem;
        --general-margin: 1rem;
        --medium-txt: 1.5rem;
        --copy-txt: .8rem;
    }

    .header {
        z-index: 2;
    }

    .info {
        z-index: 1;
    }

    .info-wrapper {
        position: relative;
        height: auto;
        margin-bottom: var(--medium-margin);
    }

    .info-block {
        flex-direction: column;
    }

    .info-column {
        width: 100%;
    }

    .info-caption,
    .info-column p:last-child {
        margin-bottom: calc(var(--small-margin)*2);
    }

    .audio-title {
        padding: 0;
    }

    /* .audio-column:first-of-type .audio-title {
        text-align: left;
    }

    .audio-column:last-of-type .audio-title {
        text-align: right;
    } */

    /* .audio-tag-wrapper {
        justify-content: center !important;
    } */

    .audio-info {
        margin: 0;
    }
}